h1{
    color: rgb(117, 54, 175);
    margin-left: 40px;
}
#cover{
    margin-left: 7vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    
}
.content{
    border: 3px double rgb(196, 181, 181);
    width: 25vw;
    height: 10vw;
    margin: 4px;
    border-radius: 10px 20px;
    overflow:hidden;
}
p{
    padding: 0px;
    margin:0px
}
